html { 
/*  overflow: hidden; */
  height: 100%; 
  background: #6a8;
}
body {
  overflow: auto; min-height: 100%; width: 600px; margin: 20px auto; /* center */ padding: 20px;
  border: 1px solid black;
  background: #fff;
  font-family:Georgia, serif;
}
a:link {
    text-decoration: underline;
    color: #8A98B0;
}
a:visited {
    font-weight: bold;
    text-decoration: line-through;
    color: #333333;
}
h1, h2, h3, h4, h5 {
  font-family:Helvetica,Arial, sans-serif;
}
p {
  font-size:18px;
  line-height: 1.4em;
}
p.left img { 
    float: left; 
    margin-top: 2px;
    margin-bottom: 10px; 
    margin-right: 10px; 
}
p.right img { 
    float: right; 
    margin-top: 2px;
    margin-bottom: 10px;
    margin-left: 10px;
}
div.nav {   
    margin-left: auto;   
    margin-right: auto;   
    width: 10em; 
}

pre {
   color: white; background:  #333;
   font-family: "Lucinda Console",monospace;
   padding: 2px;
}