ol.slats li {
	margin: 0 0 10px 0;
	padding: 0 0 10px 0;
	border-bottom: 1px solid #eee;
	}
ol.slats li:last-child {
	margin: 0;
	padding: 0;
	border-bottom: none;
	}
ol.slats li a h3 {
	font-size: 18px;
	font-weight: bold;
	line-height: 1.1;
	}
ol.slats li a img {
	float: left;
	margin: 0 10px 0 0;
	padding: 4px;
	border: 1px solid #eee;
	}
ol.slats li a:hover img {
	background: #eee;
	}
ol.slats li a p {
	margin: 0 0 0 76px;
	font-size: 14px;
	line-height: 1.4;
	color: #555;
	}
ol.slats li a p span.meta {
	display: block;
	font-size: 12px;
	color: #999;
	}
@media screen and (max-width: 700px) {
	ol.slats li a img {
		display: block;
		float: none;
		margin: 0 0 5px 0;
		}		
	ol.slats li a p {
		margin: 0;
		}
	}				