form.search fieldset input[type="text"] {
	width: 50%;
	padding: 10px 14px;
	font-size: 18px;
	border: 1px solid #ddd;
	background: #f5f5f5;
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.05);
	-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,.05);
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.05);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	}
form.search fieldset input[type="submit"] {
	padding: 10px 14px;
	font-size: 18px;
	color: #fff;
	border: none;
	background: #999;
	border-radius: 4px;
	}
form.search fieldset input[type="submit"]:hover,
form.search fieldset input[type="submit"]:focus {
	background: #777;
	}
form.search fieldset input[type="submit"]:active {
	background: #666;
	}				