body {
background-color:#d0e4fe;
}
h1 {
color:orange;
text-align:center;
}
p.mid {
font-family:"Times New Roman";
font-size:24px;
text-align:center;
}
table {
   width:100%;
}
tr {
   width:100%;
}
td.left {
   width:50%; height:100%;
}
td.right {
   width:50%; height:100%;
}